%h2 Forgot your password?
= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "ui form" }) do |f|
  = render "devise/shared/error_messages", resource: resource
  .field.column{ style: "margin-bottom: 16px" }
    = f.label :email
    = f.email_field :email, autofocus: true, autocomplete: "email"
  .actions
    = f.submit "Send me reset password instructions", class: "ui button"
%br/
= render "devise/shared/links"
