<% content_for :head do %>
  <%= javascript_include_tag 'welcome', 'data-turbolinks-track' => 'reload' %>
  <%= stylesheet_link_tag 'welcome', media: 'all' %>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.css">
  <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.js"></script>
<% end %>

<div class="ui menu">
  <div class="ui container">
    <%= link_to root_path, class: "item borderless" do %>
       <img src='icon.svg' />
    <% end %>
    <div class="right menu">
      <% if current_user %>
        <div class="item borderless">
          Signed in as <%= current_user.email %>
        </div>
        <%= link_to "Logout", destroy_user_session_path, method: 'delete', class: 'item borderless' %>
      <% else %>
        <%= link_to 'Sign in with Strava', user_strava_omniauth_authorize_path, class: 'item borderless' %>
      <% end %>
    </div>
  </div>
</div>

<div class="ui vertical masthead center aligned segment">
  <div class="ui container">
    <% if notice %>
      <div class="ui info message">
	<p class="notice"><%= notice %></p>
      </div>
    <% end %>
    <% if alert %>
      <div class="ui warning message">
	      <p class="alert"><%= alert %></p>
      </div>
    <% end %>
  </div>

  <div class="ui text container">
    <%= image_tag('logo.svg', class: 'ui centered image') %>
    <h2>
      Build your running fitness.
    </h2>
  </div>
</div>
