<% content_for :head do %>
  <%= javascript_include_tag 'welcome', 'data-turbolinks-track' => 'reload' %>
  <%= stylesheet_link_tag 'welcome', media: 'all' %>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.css">
  <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.js"></script>
<% end %>

<div class="column expand" style="height: 100%">
  <div class="row collapse" style="justify-content: center">
    <% if notice %>
      <div class="ui info message">
	      <p class="notice"><%= notice %></p>
      </div>
    <% end %>
    <% if alert %>
      <div class="ui warning message">
	      <p class="alert"><%= alert %></p>
      </div>
    <% end %>
  </div>

  <div class="row expand">
    <div class="column expand" style="justify-content: center; align-items: center; padding: 1rem;">
      <%= image_tag('icon.svg', style: 'width: 50%; max-width: 170px;') %>
      <%= image_tag('logo.svg', style: 'width: 100%; max-width: 500px;') %>
      <h1 class="ui disabled centered header" style="font-weight: normal; margin-top: -10px">
        Build your running fitness.
      </h1>
      <%= link_to 'Sign in with Strava', user_strava_omniauth_authorize_path, class: 'ui large orange button', style: 'margin-bottom: 1rem; margin-top: 3rem;' %>
    </div>
  </div>
</div>
