%h2 Log in
= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "ui form"}) do |f|
  .field.column
    = f.label :email
    = f.email_field :email, autofocus: true, autocomplete: "email"
  .field.column
    = f.label :password
    = f.password_field :password, autocomplete: "off"
  - if devise_mapping.rememberable?
    .field.row
      = f.check_box :remember_me, style: "margin-right: 0.5rem;"
      = f.label :remember_me
  - if @ios_auth
    = f.hidden_field :ios_auth, value: 1
  .actions
    = f.submit "Log in", class: "ui button"
%br/
= render "devise/shared/links"
