<!DOCTYPE html>
<html>
  <head>
    <title>TrainingBlocks</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user %>
      Signed in as <%= current_user.email %>
      | <%= link_to "Account", edit_user_registration_path %>
      | <%= link_to "Logout", destroy_user_session_path, method: 'delete' %>
    <% else %>
      <%= link_to 'Login', new_user_session_path %>
      | <%= link_to 'Sign in with Strava', user_strava_omniauth_authorize_path %>
      | <%= link_to 'Sign up', new_user_registration_path %>
    <% end %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
