<!DOCTYPE html>
<html>
  <head>
    <title>Rhino Log</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
    <%= favicon_link_tag '/icon.png' %>

    <%= yield :head %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
